page-modal-like {
  .scroll-content{
    margin-top: 0px !important;
  }
  .alert-title{
    text-align: center !important;
  }
}
.alert-title{
  text-align: center !important;
}
ion-select{
  max-width: 65% !important;
}
.select-text{
  font-size: 14px !important;
}
.disable-hover button button-md button-default button-default-md button-full button-full-md{
  height: 5.6rem !important;
}
disable-hover button button-md button-default button-default-md button-full button-full-md{
  height: 5.6rem !important;
}
